@font-face {
    font-family: 'OldLondon';
    src: url('fonts/OldLondon.ttf') format('truetype');
    src: url('fonts/OldLondonAlternate.ttf') format('truetype');
}

@font-face {
    font-family: 'JMH-Beda';
    src: url('fonts/JMH\ Beda.ttf') format('truetype');
}

@font-face {
    font-family: 'JMH-Typewriter';
    src: url('fonts/JMH\ Typewriter.ttf') format('truetype');
    src: url('fonts/JMH\ Typewriter-Black.ttf') format('truetype');
    src: url('fonts/JMH\ Typewriter-Bold.ttf') format('truetype');
    src: url('fonts/JMH\ Typewriter-Thin.ttf') format('truetype');
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    height: 130px;
    background: #151515;
    display: flex;
    align-items: center;
}

header img {
    margin-left: 100px;
}


/* footer */

footer {
    background: #151515;
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

footer h2 {
    font-size: 24px;
    margin-right: 20px;
    color: #78547C;
}

footer img {
    width: 50px;
    height: 50px;
    margin: 0 10px 0;
}

footer p {
    width: 100%;
    text-align: center;
    color: white;
}


/* section 1 */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

main .section1 img {
    width: 100%;
    position: relative;
    height: calc(100vh - 100px);
    object-fit: cover;
}

.section1 div {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.section1 h2 {
    font-size: 36px;
    width: 100%;
    text-align: center;
    color: white;
}

.section1 button {
    border-radius: 50px;
    width: 300px;
    height: 70px;
    border: none;
    background: #78547C;
    color: white;
    font-size: 24px;
}

.section1-1 {
    display: flex;
    flex-wrap: wrap;
    background: #151515;
    width: 100%;
}

.section1-1 h1 {
    width: 100%;
    color: #78547C;
    font-size: 40px;
    text-align: center;
}


/* section 2 */

.section2 {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 850px;
    padding: 0 20px 0;
    padding-top: 50px;
    background: white;
}

.section2 h2 {
    width: 100%;
    color: #856C4D;
    font-size: 36px;
}

.section2 iframe {
    width: 1200px;
    height: 675px;
}


/* Section 3 */

.section3 {
    width: 1200px;
    display: flex;
    padding: 0 20px 0;
    padding-top: 50px;
    background: #BEAE95;
    padding-bottom: 50px;
}

.section3 .bloc1 {
    width: 40%;
}

.section3 .bloc2 {
    width: 60%;
}


/* Slider */

#slider {
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 1px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

div#slider figure {
    position: relative;
    width: 400%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 15s slidy infinite;
}

div#slider figure img {
    width: 25%;
    height: auto;
    float: left;
}

@keyframes slidy {
    0% {
        left: 0%;
    }
    17% {
        left: 0%;
    }
    34% {
        left: -100%;
    }
    51% {
        left: -100%;
    }
    68% {
        left: -200%;
    }
    85% {
        left: -200%;
    }
    100% {
        left: -300%;
    }
}


/* section 4 */

.section4 {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px 0;
    padding-top: 50px;
    background: #856C4D;
}

.section4 h2 {
    width: 100%;
    padding-left: 60px;
}

.section4 div {
    width: 230px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.section4 h3 {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}

.section4 div img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .section1 img {
        height: 400px !important;
    }
    .section1 h2 {
        font-size: 24px;
    }
    .section1 button {
        width: 240px;
        height: 50px;
    }
    .section2 {
        width: 100%;
        height: 350px;
        padding-top: 0px;
        padding: 0 15px 0;
        justify-content: center;
    }
    .section2 h2 {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        margin-top: 0;
        text-align: center;
        width: 100%;
    }
    .section2 iframe {
        width: 400px;
        height: 232px;
    }
    .section3 {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .section3 .bloc1 {
        width: 100%;
    }
    .section3 .bloc2 {
        width: 100%;
    }
    #slider {
        margin: 0;
        width: 100%;
    }
    .section4 div {
        width: 50%;
    }
    .section4 h2 {
        padding: 0;
        text-align: center;
    }
    header img {
        margin: 0;
    }
    header {
        justify-content: center;
    }
    footer {
        height: 220px;
    }
}